<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Brand name -->
      <a class="navbar-brand"><div id="brand"><content>Space Blast</content></div></a>
    </div>
    <!-- All navigation to the right side -->
    <ul class="nav navbar-nav navbar-right">
      <!-- Explanation of Sign Up anchor-->
      <li><a data-toggle="modal" data-target="#modal1" class="a-sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
{{> sign-up}}
      </div>
      <!-- Explanation of Sign In anchor-->
      <li><a data-toggle="modal" data-target="#modal2" class="a-sign-in"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
      <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        {{> sign-in}}
      </div>
    </ul>
  </div>
</nav>
