<div id="publicContent" class="content" data-id="{{todo._id}}">
  <div style="text-align: center;">
    <h4>Best Score:</h4>
  </div>
  <div class="scroll2">
    <ol>
      {{#each games as |game|}}
        <li>
          <div class="col-xs-12">{{game.score}}</div>
        </li>
      {{/each}}
    </ol>
  </div>
</div>
